@import './variables';

.base-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	background-color: $btn-base;
	height: 2rem;
	padding: 1.2rem;
	font-size: $font-sm;
	font-weight: $font-wight-t;
	color: $color-text;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	width: max-content;
}
