// COLORS

$color-primary: #fff;
$color-secondary: #2d1a4b;
$color-text: #fff;
$color-text-black: #3a3939;
$color-success: #b26eff;
$color-danger: #ff3838;

// TYPOGRAPHY
$font-sm: 0.8rem;
$font-med: 1rem;
$font-l: 1.2rem;
