@import '../../sass/button';

.btn-submit {
	background: $btn-submit;
	border-radius: 6px;
	align-self: center;
	width: 200px;
	margin-bottom: 15px;
}
.btn-create {
	background: $btn-base;
	width: max-content;
	border-radius: 6px;
}
.btn-edit {
	background: $btn-edit;
	width: max-content;
	border-radius: 6px;
}
.btn-danger {
	background: $btn-delete;
	width: max-content;
	border-radius: 6px;
}
.btn-back {
	background: transparent;
	border-radius: 6px;
	width: max-content;

	transition: all 0.3s ease-in-out;
	&:hover svg {
		animation: arrow 0.3s ease-in-out 3;
	}

	svg {
		margin-top: 10px;
		width: 40px;
		height: 40px;
	}
}

@keyframes arrow {
	from {
		transform: translateX(0px);
		transition: all 0.3s ease-in-out;
	}
	to {
		transform: translateX(-20px);
		transition: all 0.3s ease-in-out;
	}
}
