@import '../../sass/button';

.btn-submit {
	background: $btn-submit;
	width: 100%;
	border-radius: 10px;
}
.btn-create {
	background: $btn-base;
	width: 100px;
	border-radius: 10px;
}
.btn-danger {
	background: $btn-delete;
	width: 100px;
	border-radius: 10px;
}
