@import '../../sass/button';

.btn-submit {
	background: $btn-submit;
	width: 100%;
	border-radius: 6px;
}
.btn-create {
	background: $btn-base;
	width: max-content;
	border-radius: 6px;
}
.btn-danger {
	background: $btn-delete;
	width: max-content;
	border-radius: 6px;
}
