@import '../../../sass/variables';

.todo-item {
	z-index: 100;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	height: 2.6rem;
	padding: 0 10px;
	border: none;
	border-top: 1px solid $border-trans-black;
	border-bottom: 1px solid $border-trans-black;
	position: relative;

	.todo-item-date {
		font-size: $font-sm;
		color: $color-text-black;
		flex: 1;
	}
	.todo-item-title {
		font-size: $font-med;
		font-weight: $font-wight-r;
		color: $color-text-black;
		margin-left: 10px;
		flex: 4;
	}
	.todo-item-description {
	}
	.todo-item-category {
		margin-left: auto;
	}
	.drag-options {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		.drag-to-edit {
			position: absolute;
			left: -50px;
			color: $color-edit;
			font-weight: $font-wight-b;
		}
		.drag-to-delete {
			position: absolute;
			right: -70px;
			font-weight: $font-wight-b;
			color: $color-danger;
		}
	}
}
