@import '../../../sass/variables';

@import './checkbox';

.todo-item {
	z-index: 1;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	height: auto;
	padding: 0 10px;
	border: none;
	border: 1px solid $border-trans-black;
	border-radius: 10px;
	position: relative;

	.todo-item-wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		padding: 10px;
		width: 100%;
		position: relative;
	}

	.todo-item-date {
		font-size: 0.7rem;
		color: #505050;
		width: auto;
		background-color: transparent;
		position: absolute;
		left: 10px;
		top: -15px;
	}
	.todo-item-title {
		font-size: $font-med;
		font-weight: $font-wight-r;
		color: $color-text-black;
		margin-left: 10px;
		flex: 4;
	}
	.todo-item-description {
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 2px solid $border-trans-black;
		height: auto;
		width: 100%;
		padding: 10px;
	}
	.todo-item-category {
		margin-left: auto;
	}
	.drag-options {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		.drag-to-edit {
			position: absolute;
			left: -50px;
			color: $color-edit;
			font-weight: $font-wight-b;
		}
		.drag-to-delete {
			position: absolute;
			right: -70px;
			font-weight: $font-wight-b;
			color: $color-danger;
		}
	}
	.todo-complete {
		color: #ebe9e9;
		text-decoration: line-through;
		position: relative;
		&::after {
			content: 'Completed';
			width: max-content;
			position: absolute;
			left: 50%;
			top: 50%;
			color: #37bd02;
			transform: translateY(-50%) translateX(-50%);
		}
	}
}
