@import '../../../sass/variables';

.clock-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 20px;
	text-align: left;
	font-size: $font-med;
	background-color: #343a40;
	color: #fff;
	padding: 8px;
	border-radius: 8px;

	.clock-time {
	}
	.clock-date {
	}
}
